body {
        width: 110px;
        height: 80px;
        font-size: 6pt;
        font-family:Helvetica, Arial, sans-serif;
    }

div {
    font: menu;
    color: black;
    cursor: default;
}

div.item {
    border: 1px solid transparent;
    background: transparent;
    line-height: 100%;
    white-space: nowrap;
    height:15px; 
    padding: 5px;
    cursor: pointer;
}
div.item div {
    cursor: pointer;
}
#more:hover{    
    color:#1666ad;
}

div.item:hover{
    border: 1px solid #DBE1E6;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
